*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Sans-Serif;
  scroll-behavior: smooth;
  
}
a{
  text-decoration: none;
}
#sideOpener{
  height: 50px;
  width: 50px;
 border-top-right-radius: 100px;
  transition: .5s;
  position: fixed;
  bottom: 0;
background:#2c2c2c;
  z-index: 123;
box-shadow: 0 0 5px 1px black;
}
#sideOpener:hover{
  transform: scale(1.3);
}
.SideNavigation{
  height:100%;
  width: 70%;
  background:#2c2c2c;
  position: fixed;
  top: 0px;
  left:-100% ;
  transition: .5s;
  box-shadow: 0 0 10px 1px black;
  overflow-y: scroll;
  z-index:12344 ;
}
.index{
  height: 50px;
  width: 100%;
  border-bottom: 2px black solid;
  color: white;
  font-size: 20px;
  font-weight: bold;
  display: grid;
  place-items: center;
  position: sticky;
  top: 0;
  background: #2c2c2c;
}
.chapters{
  height: 50px;
  width: 100%;
  background: #2c2c2c;
  border-bottom: 1px solid black;
  display: grid;
  place-items: center;
  font-weight: 300;
  text-decoration: none;
  color: white;
}
.title{
  height: 70px;
  width: 100%;
  background:#2c2c2c;
  position: sticky;
  top: 0;
  display: grid;
  place-items: center;
  z-index: 123;
font-size: 20px;
color: white;
box-shadow: 0 0 5px 1px black;
}
.ContentContainer{
  height: 100%;
  width: 100;
  background: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.box{
  height: 100%;
  width: 350px;
  margin-top: 20px;
  border-radius: 5px;
 box-shadow: -10px 1px green;
 border: 1px solid gray;
  
}

.box p{
  margin-left: 10px;
  margin-right: 10px;
  font-size: 18px;
  font-weight: 300;
  background: none;
  padding: 10px;
}

.box h2{
  margin-left: 10px;
  margin-right: 10px;
  font-weight: lighter;
  color: green;
  font-weight: 400;
  background: none;
  padding: 10px;
}

img{
  height: 100%;
  width: 100%;
 border-radius: 5px;
  
}

  #darkMode{
    height: 50px;
    width: 50px;
    background:#2c2c2c;
   border-top-left-radius:100% ;
   position: fixed;
    bottom:0px;
    right:0px;
box-shadow: 0 0 5px 1px black;
  }
  .darkMode{
background:#2c2c2c;
color:white;

  }
  
  footer{
    height: 100%;
    background: none;
    width: 100%;
   margin-top: px;
   display: flex;
  flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
  }
  .Fbox{
  height: 100%;
  width: 350px;
  margin-top: 20px;
  border-radius: 5px;
   display: grid;
 place-items: center;
 background: #e1e0e0;
  }
  .Fbox h2{
font-weight: 400;
color:white;
background: black;
width: 100%;
text-align: center;
padding: 10px 20px;
  }
.Fbox ol{
  width: 100%;
}
  .Fbox ol li {
    list-style-type: none;
    border: 1px gray solid;
    text-align: center;
    padding: 10px 20px;
  }
 
  .Fbox ol li a{
    color: black;
    font-weight: 400;
    font-size: 20px;
  }
  .ad{
    height: 100vh;
    width: 100%;
    background: black;
    position: fixed;
    top: 0;
    z-index: 12345;
    transform: scale(0);
    transform-origin:top right;
    transition: .5s;
    display:grid;

  }
  
  .ad p{
    position: fixed;
    top:0px;
    right: 0px;
    background: none;
    color: white;
    padding: 10px 20px;
    border-radius: 100px;
    box-shadow: 0 0 10px 1px black inset;
    font-size: 20;
    font-weight: bold;
  }
  .ad p:before {
    content: "\2715";
  }
