*{
scroll-behavior: smooth;
}
body{
  margin: 0;
  padding: 0;
  font-family: Sans-Serif;
  background: gray;
}
img{
  height: 100%;
  width: 100%;
 border-radius: 10px;
}
video{
height: 100%;
  width: 100%;
 border-radius: 10px;
}
.topNav{
height: 50px;
  width: 100%;
  background: gray;
  box-shadow: 0 0 5px 1px  black;
  position: fixed;
  top: 0;
  z-index:133 ;
  display: flex;
  align-items: center;
}
.Logo{
  width: 100px;
  height: 100%;
  display:flex;
  color: white;
  align-items: center;
  justify-content: space-around;
  
}
.Logo img{
  height: 50px;
  width: 50px;
 border-radius: 100px;
 background: none;
 margin-left: 10px;
border-radius: 100px;
box-shadow: 0 0 10px 1px inset black;
transform: scale(0.7);
 
}
input{
  width: 200px;
  border: none;
  outline: none;
  background: none;
  position: absolute;
  right: 0;
  transform: scale(0.9);
 border-radius: 3px;
 padding: 10px 20px;
 color: white;
}
.bottomNav{
  height: 50px;
  width: 100%;
  background:gray ;
  box-shadow: 0 0 5px 1px  black;
  position: fixed;
  bottom: 0%;
  z-index: 123;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: scroll;
  
}
.itms{
  padding: 10px 20px;
  border: 1px black solid ;
  height: 20px;
  width: 200px;
  color: white;
  display: grid;
  place-items: center;
 border-radius: 100px;
 transform: scale(0.9);
}
.container{
  height: 100%;
  width: 100%;
  background: gray;
 margin-top: 60px;
 margin-bottom: 60px;
  
}
.imgContainer{
  height: 100%;
  width: 100%;
  background: orange;
  transform: scale(0.9);
 border-radius: 10px;
 transition: .5s;
 display: grid;
 place-items: center;
}

.box{
  height: 50px;
  width: 50px;
  background: gray;
 border-radius: 100px;
 transform: scale(0.9);
 display: grid;
 place-items: center;
 color:orange;
 box-shadow: 0  0 5px 1px black inset;
}
.box a{
  color: ora;
}