*{
     margin: 0;
     padding:0;
     box-sizing: border-box;
    font-family: Comic Sans MS;
    background: linear-gradient(120deg,blue,black,black,black);
}

.container{
     height: 100%;
     width: 100%;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
     align-items: flex-start;
}

header{
     height: 50px;
     width: 100%;
     background: linear-gradient(120deg,blue,black,black);
     position: sticky;
     top: 0;
     box-shadow: 0 0 5px 1px rgb(24,24,24);
     display: flex;
     align-items: center;
     color: white;
}
.newsBox{
     height: 100%;
     width: 400px;
     background: white;
     border-radius: 16px;
     margin-top: 10px;
}
img{
     height:50%;
     width: 100%;
     border-radius: 10px;
     background: none;
}
.newsBox h1{
     font-size: 25px;
     background: none;
     font-weight: 300;
     padding: 10px 20px;
}
.newsBox p{
     background: none;
     padding: 10px 20px;
     

}
.newsBox a{
     color:white;
     float: right;
     margin-right: 30px;
     margin-bottom: 30px;
     text-decoration: none;
     padding: 10px 20px;
     background: linear-gradient(120deg,black,blue);
     border-radius: 5px;
}

h2,h3,h4,h5,h6{
     background: none;
     font-weight: 300;
}
ul,li{
background: none;
list-style-type: none;
}

#loader{
height: 100vh;
width: 100%;
background: black;
top: 0;
position: fixed;
   z-index: 12344000004849999;
   display: grid;
   place-items: center;
   
}
#loaderBall{
     height: 200px;
     width: 200px;
     background: blue;
     border-radius: 100px;
     animation: 5s loader infinite linear;
     position: fixed;
     bottom:-90px;
     right: -90px;
 
}
@keyframes loader {
     0%{transform:scale(0)}
     50%{transform:scale(5)}
     100%{transform:scale(0)}
     
}
