body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.todo {
  position: fixed;
  height: 70px;
  width: 100%;
  top: 0%;
}
h1 {
  text-align: center;
  color:#000;
}
span {
  color: red;
}

form {
  outline: 0;
  height: 40px;
  width: 100%;
  text-align: center;
  position: fixed;
  top: 70px;
}

input[type="text"] {
  outline: 0;
  width: 55%;
  height: 32px;
  border: none;
  font-size: 18px;
  font-weight: normal;
  padding-left: 10px;
  border: 3px solid #3b3b3b;
  border-radius: 20px;
}

.add {
  outline: 0;
  width: 20%;
  height: 40px;
  color: #000;
  font-size: 18px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
 
}
.add:hover {
  border: 2px solid rgb(66, 60, 54);
  color: rgb(27, 27, 27);
}

ul {
  padding: 0;
  text-align: left;
  list-style: none;
  margin-top: 130px;
  scroll-behavior: smooth;
}

hr {
  margin: 15px 0;
}

input[type="checkbox"] {
  width: 30px;
  cursor: pointer;
  text-shadow: 0 10px 10px black;
}

.remove {
  float: right;
  cursor: pointer;
}
.remove:hover {
  color: red;
}
.remove::before {
  content: "\2772";
}
.remove::after {
  content: "\2773";
}
.completed {
  text-decoration: line-through;
  color: green;
}
.date-and-time {
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0%;

  color:#000;
}
.date {
  height: 50px;
  width: 40%;
  left: 1%;
  position: fixed;
  bottom: 1%;
  border-bottom: solid 1px black;
  border-radius: 20px;
  color:#000;
}
.time {
  height: 50px;
  width: 40%;
  right: 1%;
  position: fixed;
  bottom: 1%;
  border-bottom: solid 1px black;
  border-radius: 20px;
  color:#000;
}
#datetime {
  color: #000;
}
p {
  text-align: center;
}